<div class="flex flex-col h-full items-center justify-start bg-white border-r border-gray-300">
    <!-- Top Row -->
    <div class="flex items-center justify-center h-16 w-full bg-orange-600">
        <span class="text-white text-lg font-bold">GarageMate</span>
    </div>

    <!-- Sidebar Menu -->
    <div class="pt-4 text-sm w-full">
        <nav class="flex flex-col w-full">
            <NavLink href="" Match="NavLinkMatch.All"
                class="group block px-4 py-2 w-full transition-colors duration-200 !no-underline text-black hover:bg-blue-950"
                ActiveClass="bg-blue-800 text-white font-bold">
                <span class="group-hover:text-white transition-colors duration-200">HOME</span>
            </NavLink>

            <NavLink href="customers" Match="NavLinkMatch.All"
                class="group block px-4 py-2 w-full transition-colors duration-200 !no-underline text-black hover:bg-blue-950"
                ActiveClass="bg-blue-800 text-white font-bold">
                <span class="group-hover:text-white transition-colors duration-200">CUSTOMERS</span>
            </NavLink>
        </nav>
    </div>
</div>
